@keyframes animate-next {
  0% {
    transform: translateX(130px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes animate-prev {
  0% {
    transform: translateX(-130px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  @keyframes animate-next {
    0% {
      transform: translateX(237px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes animate-prev {
    0% {
      transform: translateX(-237px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

@keyframes animate-secondary {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 60%;
  }
}

.animate-next {
  animation: backwards animate-next 250ms;
}

.animate-prev {
  animation: backwards animate-prev 250ms;
}

.animate-secondary {
  animation: backwards animate-secondary 250ms;
}
