@keyframes fade-active {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-secondary {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 60%;
  }
}

.fade-active {
  animation: backwards fade-active 400ms;
}

.fade-secondary {
  animation: backwards fade-secondary 400ms;
}
